.clickable-link {
    text-decoration: none; 
    color: var(--london-white);
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

.clickable-div {
    padding: 1vh;
    background-color: var(--london-blue);
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 80vw;
    transition: background-color 0.3s;
}

.clickable-div:hover {
    background-color: #05375a;
    scale: 1.05;
    transition: 0.3s;
    
}

.clickable-div h2{
    margin: 0;
    padding: 1vh;
    font-size: 2vh;
}

.clickable-div p{
    margin: 0;
    padding: 1vh;
}